# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ChromeTest.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\carlo\repos\WinFormsHTMLChromium\ChromeTest\.idea\.idea.ChromeTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
